@font-face {
    font-family: 'fontello';
    src: url('./font/f/fontello.eot?99438488');
    src: url('./font/f/fontello.eot?99438488#iefix') format('embedded-opentype'),
         url('./font/f/fontello.woff?99438488') format('woff'),
         url('./font/f/fontello.ttf?99438488') format('truetype'),
         url('./font/f/fontello.svg?99438488#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
   
   
  .demo-icon
  {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
