html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
q,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, 
body {
  height: 100%;
  min-height: 100%;
}


article,
aside,
figure,
figure img,
figure caption,
hgroup,
footer,
header,
nav,
section,
video {
    display: block;
}

a img {
    border: 0
}

figure {
    position: relative
}

html {
    height: 100%;
    padding: 0;
    margin-top:0!important;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    position: relative;
    color: #000;
    overflow-x: hidden!important;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}

h2 {
    font-size: 28px;
    font-weight: 400;
}

h3 {
    font-size: 14px;
    font-weight: 400;
    color: green;
}

h4 {
    font-size: 20px;
    font-weight: 700;
}

h5 {
    font-size: 17px;
    font-weight: 500;
}

h6 {
    font-size: 15px;
    font-weight: 500;
}

a {
    color: #000;
    text-decoration: none;
    outline: 0;
}
p {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}
blockquote {
    background-color: #ebebeb;
    padding: 20px;
    border-left: solid 4px #ccc;
}

object,
embed {
    outline: 0;
}

input::-moz-focus-inner {
    border: 0;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    line-height: 16px;
}


/* https://necolas.github.io/normalize.css/ */ 

/* cookie*/

#cookiewarning {
    background: #fff;
    border-top: solid 1px #ccc;
    width: 100% !important;
    padding: 10px;
    margin: auto;
    position: relative;
    color: #202020;
    font-weight: 300;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9999;
    text-align: center;
    height: auto;
}

#cookiewarning h2 {
    color: #000;
    font-size: 18px;
}

.accep {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8px;
    color: #fff;
}

#ccfd-removecookie {
    text-decoration: none !important;
    color: #fff;
    background: #000;
    display: inline-block;
    padding: 5px;
}

.accep:hover {
    color: #000;
}


/* slider */
.flexslider {
    width: 100%;
    height: 100%;
}

/* banckground */
.bg-grey {
    background: #f2f5fa;
    min-height: 180px;
}
.bg-red {
    background: red;
}
.bg-black {
    background: black;
}

.bg-image {
    background-image: url("../images/back-contact.png"); 
    background-size: cover;
}

.bg-image-01 {
    min-height: 345px;
    background-image: url("../images/back-contact.svg"); 
    background-size: cover;
    max-width: 100%;
}
.bg-lin-red {
   position: relative;
   overflow: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ff2828+51,ff2828+100 */
    background: red; /* Old browsers */
    background: -moz-linear-gradient(right, #ffffff 0%, #ffffff 50%, red 50%, red 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, #ffffff 0%,#ffffff 50%,red 50%,red 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,red 50%,red 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='red',GradientType=0 ); /* IE6-9 */
}

@media (max-width: 991px) {
    .bg-lin-red {
        background: linear-gradient(red 0%, red 2%, white 2%, white 100%); 
    }
}


.margin-top {
    margin-top:10px
}

.margin-bottom {
    margin-bottom:10px
}

.margin-left {
    margin-left:10px
}


.margin-right {
    margin-right:10px
}

.align-right {
    text-align: right;
}


.align-center {
    text-align: center;
}


.inline-block {
    display: inline-block;
}

.nav-links {
    margin-bottom: 30px;
}

.nav-links a  {
    display: inline-block;
}

.nav-links span, .nav-links a {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px #000;
}




.padding-small {
    padding: 10px;
}
.padding {
    padding: 20px;
}

.padding-high {
    padding: 30px;
}

.no-padding {
    padding: 0;
}
.padding-top {
    padding-top: 40px;
}
.padding-top-small {
    padding-top: 10px;
}
.padding-top-high {
    padding-top: 100px;
}
.padding-bottom {
    padding-bottom: 40px;
}
.padding-bottom-small {
    padding-bottom: 10px;
}
.padding-bottom-high {
    padding-bottom: 100px;
}
.margin_midle_div {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}


/*////////////////////
//////  header ///////
////////////////////*/


header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.822);
    transition: all 0.5s; 
    max-height: 120px;
}
.header-top {
    position: relative;
    clear: both;
    width: 100%;
    height: 100px;
}
@media (max-width: 767px) {
    header {
        position: relative;
        height: auto;
    }
}
#logo img {
    max-height: 110px;
    width: auto;
    margin-top: -20px;
    position: relative;
    z-index: 2; 
}
#menu_top > div {
    position: relative;
    padding-top: 10px;
}
@media (max-width: 991px) {
    #logo {
        position: fixed;
        top: 5px;
        left: 5px;
    }
    #logo img {
        max-height: 82px;
        margin-top: 15px;
    }
    #menu_top > div:last-child {
        padding: 0;
    }
}
#menu_top > div:hover:not(:last-child) {
    background: rgb(173, 241, 133);
    border-radius: 15px;
}
#button_menu_top p {
    position: absolute;
    padding: 10px 20px;
    margin: auto;
    background-color: #F40000;
    color: white;
    font-size: 16px;
    line-height: 15px;
    border-radius: 10px;
    text-decoration:inherit;
    cursor: pointer;
}
img.menu_thumbnail {
    width: 30px;
    height: auto;
    float: left;
}
.menu_inline {
    overflow: hidden;
    padding-left: 5px;
    word-wrap: break-word;
}


#button_menu_top p::after {
    content: "contact\00a0us";
}
#menu_source {
    background: white;
    overflow: hidden;
    width: 100%;
    position: relative;
}
#menu_source .main {
    padding: 10px 20px;
    position: relative;
    box-sizing: border-box;
    float: left;
    
}
#menu_source .first{
    background: white;
    width: 60%;
}
#menu_source .second{
    background: red;
    width: 40%;
    -webkit-transition:  -webkit-transform .3s ease-out; 
    -moz-transition: -moz-transform .3s ease-out; 
    -o-transition: -o-transform .3s ease-out; 
    transition: transform .3s ease-out; 
    cursor: pointer; 
}
#menu_source .second:hover{
    background: red;
    width: 40%;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    color: white;
}
#menu_source .second::after{
    content: "";
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-top: 40px solid #f00;
    position: absolute;
    left: -38px;
    top: 0;
}
.bounce_menu #menu_source {
    top: -10px;
}
.bounce_menu #menu_source{
    animation: opac 1s;
}
@keyframes opac {
    from {opacity: 0; left: -100%}
    to {opacity: 1; left: 0;}
}
@media (max-width: 991px) {
    #button_menu_top p{
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 30px;
        border-radius: 60%;
    }
    #button_menu_top p::after {
        content: "\260E";
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
    #menu_top > div:not(:last-child) {
        display: none;
    }
    header {
        height: 0;
        padding: 0; 
        max-height: none;
    }
    .sticky div:not(:last-child) {
        display: none;
    }
    .header_pop {
        position: fixed;
        height: auto;
        background: white;
        width: 90%;
        top: 120px;
        transition: all 0s;
        left: 50%;
        margin-left: -45%;
    }
    .header_pop #menu_top > div:not(:last-child) {
        display: block;
    }
    .header_pop #menu_top > #button_menu_top p::after {
        content: '\00a0X\00a0'!important;
    }
    #menu_top > div:hover:not(:last-child) {
        background: none;
        border-radius: 0;
    }
    .menu_inline {
        padding-left: 15px;
    }
    .animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
    }
    #menu_source {
        background: transparent!important;
    }
    #menu_source *:not(:last-child) {
        display: none;
        visibility: hidden;
    }
    #menu_source .second.main {
        display: block;
        position: fixed;
        margin: auto;
        margin-left: auto;
        width: 110px;
        left: 65%;
        margin-left: -90px;
        top: 20px!important;
    }
}
@media (min-width: 991px) {
    .bounce_menu {
        animation: hideshow 1s ;
        position: fixed;
        background: white;
        height: 80px;
        padding: 3px 0 3px 0;
    }
    .bouce #logo {
        width: 120px;
        height: auto;
    }
    .bounce_menu .menu_inline p {
        display: none;
    }
    @keyframes hideshow {
        from {top: -100px;}
        to {top: 0;}
    }
}
/*/////  header end //////*/

/*////////////////////
////// content ///////
////////////////////*/

/* gallery content index */

#gallery_content {
    background-image: url('../images/back_1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 240px 0;
}
@media (max-width: 991px) { 
    #gallery_content {
        padding: 60px 0 120px 0; 
    }
}
#gallery_content h4, #gallery_content h2 {
    text-transform: capitalize;
    padding-top: 40px;
    color: white;
}
.button_general {
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid transparent;
    padding: 10px 30px;
    border-radius: 0;
    min-width: 180px;
    min-height: 50px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    border: 2px solid white;
}
#button_gallery {
    margin-top: 50px;
    background-color: yellow;
    color: green;
    transition: all .5s;
}
#button_gallery:hover {
    margin-top: 50px;
    background-color: green;
    color: yellow;
}
#button_gallery::before {
    content: '';
    border: transparent solid 1px;
    display: block;
    transition: all .5s ease-in;
    width: 140%;
    height: 200%;
    position: absolute; 
    border-radius: 15px;
}
#button_gallery::after {
    content: '';
    border: transparent solid 1px;
    display: block;
    transition: all .5s ease-in;
    width: 180%;
    height: 300%;
    position: absolute; 
    border-radius: 15px;
}
#button_gallery:hover::before {
    content: '';
    border: white solid 5px;
}
#button_gallery:hover::after {
    content: '';
    border: yellow solid 5px;
}

@media (max-width: 991px) { 
    #button_gallery {
        float: right;
    }
    #button_gallery::after, #button_gallery::before {
        content: '';
        border: none;
        display: block;
        transition: all .5s ease-in;
        width: 0;
        height: 0;
        position: absolute; 
        border-radius: 0;
    }
    #button_gallery:hover::after, #button_gallery:hover::before {
        content: '';
        border: none;
        
    }
}
#button_gallery span::after {
    content: "\0020\2192";
}

/* gallery content index END */


#services .services {
    border: solid 5px red;
    padding: 15px;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all .2s ease-in;
    color: #000;
    cursor: pointer;
}
#services .services::before {
    content: "";
    background: #F40000;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    margin: -15px 0 0 0;
    left: -100%;
    transition: all .2s ease-in;
    color: white;
}
#services .services:hover h3 { 
    color: #fff;
    float: right;
    font-weight: bold;
}
#services .services:hover::before {
    left: 20%;
}
#services .services h3{
    padding: 7px 0 0 10px;
    display: flex;
    float: left;
}
@media (max-width: 768px) {
    #services .services {
        margin-bottom: 2px;
    }
    #services .services:hover h3 { 
        color: #000;
        float: left;
        font-weight: normal;
    } 
    #services .services:hover::before {
        left: -100%;
    }
}


#services .services img{
    float: left;
    max-width: 32px;
}
#services .services_open {
    display: block;
}
#services #services_p {
    text-align: center;
    width: 60%;
}
@media(max-width: 762px) {
    #services #services_p {
        width: 100%;
    }
}
#services figcaption {
    display: none;
}
#services figure {
    width: 33.3333333333%;
    float: left;
    margin: 0;
    padding: 0 15px;
}
#services figure img{
    width: 100%;
    height: auto;
}

.active_service {
    background-image: linear-gradient(to right, white 0%, white 20%, red 20%, red 100%);
}
.active_service h3 {
    color: white!important;
    float: right!important;
    font-weight: 600;
}
@media (max-width: 768px) { 
    #services figure {
        width: 100%;
    }
    #services_category_row > div:last-child {
        padding-bottom: 30px;
    }
}
@media (max-width: 991px) {
    #services figure img {
        padding: 5px 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #services figure {
        width: 50%;
    }
}
.clear_both {
    clear: both;
}
#title > h1 {
    text-align: center;
    font-size: 50px;
}
.title_first {
    border-bottom: solid 3px #f51111;
}
.underline_white span{
    border-bottom: solid 3px white!important;
}
@media (min-width: 991px) {
    .padding_both_big {
        padding: 10px 0;
    }
}
@media(max-width: 991px) {
    .underline_white {
        padding-top: 30px;
    }
    .underline_white span{
        border-bottom: solid 3px #f51111!important;
    }
}
.awsome_div {
    background: white;
    border: solid red 5px;
}
.awsome_div div{
    width: 100%;
    margin: 0 auto;
}
.awsome_div h1 {
    top: -20px;
    position: relative;
    font-size: 20px;
    text-align: center; 
}
@media (max-width: 768px) {
    .awsome_div p {
        padding-bottom: 20px!important;
    }
    #intro div > div:not(:first-child) {
        padding-top: 50px;
    }
    #title > h1 {
        font-size: 35px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #intro div > div:not(:first-child):not(:nth-child(2)) {
        padding-top: 50px;
    }
}
.fa {
    text-align: center; 
    font-size: 40px !important;
    color: red;
    top: -50px;
    position: relative;
    z-index: 1;
    width: 40px;
    left: calc(50% - 20px);
}
.fa::after {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    display: block;
    top: -50%;
    left: -50%;
    background: white;
    border-radius: 50%;
    z-index: -1;
    border: solid red 5px;
}

#delic {
    background: url('../images/background-devide.svg') no-repeat;
    width: 100%!important;
    background-size: 100% 100%;
    height: 400px;
    position: relative;
}

#delic > div {
    position: absolute;
    bottom: 100px;
    margin: auto;
    left: 0;
    right: 0;
}
#aboutus img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
#aboutus p {
    color: white;
}
#aboutus p::first-letter{
    font-size: 36px;
}
#aboutus #content_a {
    padding-left: 80px;
}
@media (max-width: 991px) {
    #delic {
        height: 200px;
    }
    #delic > div {
        bottom: 20px;
    }
    #aboutus p {
        color: black;
    }
}

/*//////////////////////////
//////  menu_contact ///////
//////////////////////////*/
#wpcf7-f114-o1 {
    display: block;
    position: relative;
    width: 80%;
    left: 50%;
    margin-left: -30%;
}
.wpcf7-submit {
    display: block!important;
    width: 30%!important;
    min-width: 200px;
    padding: 15px;
    background: white;
    border: 0px;
    position: relative;
    left: 50%;
    margin-left: -25%!important;
}
.screen-reader-response {
    display: none!important;
}
.wpcf7-not-valid-tip {
    display: inline;
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding-left: 20px;
    top: 5px;
    position: relative;
}
#error_show {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 100px);
    padding: 45px; 
    z-index: 9000000; 
    background: white;
    text-align: center;
}

#menu_contact {
    min-width: 100%;
    position: fixed;
    min-height: 0%;
    background: red;
    width: 100%;
    height: 0%;
    z-index: 2000000;
    top: 0;
    left: 0;
    transition: all 1s;
    opacity: 0;
    overflow-y: scroll;
}
#menu_contact * {
    display: none;
}
.menu_input {
    width: 80%;
    margin: 0 auto;
    display: block;
    position: relative;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.display_menu {
    opacity: 1!important;
    height: 100%!important;
    min-height: 100%!important;
}
.menu_contact_children {
    display: block!important;
}
#menu_close {
    position: fixed;
    padding: 20px 25px;
    background: white;
    top: 20px;
    right: 20px;
    z-index: 20000000;
    border-radius: 10px;
    cursor: pointer
}

/*//////////////////////////
//////  gallery page ///////
///////////////////////// */

#gallery {
    height: calc(100vh - 100px);
    background-size: 100% 100%!important;
    background-position: top left!important;
}
#gallery .title {
    position: absolute;
    display: block;
    top: 400px;
    left: 50px;
}
#gallery_posts .title {
    text-align: center;
    float: right;
}
#gallery_posts .content {
    float: left;
}
#gallery_posts img { 
    float: left;
    min-width: 50%;
    cursor: pointer;
    max-width: 50%;
    padding: 5px;
}
#gallery_posts img:hover {
    cursor: pointer;
    opacity: .8;
    -khtml-opacity: 0.8;
    -moz-opacity:0.8;
    filter: alpha(opacity=80);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
#gallery_posts .layer-cut {
    clear: both;
    width: 100%;
    padding: 20px 0;
    border-bottom: solid red 2px;
}
#gallery_posts .descript p{
    text-align: left;
    padding-top: 20px;
    line-height: 40px;
}
@media(max-width: 991px) {
    #gallery_posts img {
        max-width: 100%; 
        min-width: 100%;
        padding: 0px;
        padding-bottom: 5px;
    }
    #gallery_posts img:hover {
        opacity: 1;
        -khtml-opacity: 1;
        -moz-opacity: 1;
        filter: alpha(opacity=100);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    #gallery_posts .title {
        text-align: center;
        float: none;
        padding: 20px 0;
    }
    #gallery_posts .content {
        float: none;
        padding: 0 0!important;
    }
}
#top_gallery h2 {
    padding-top: 40px;
    padding-bottom: 40px;
}
#top_gallery li {
    padding-left: 40px;
    padding-bottom: 15px;
}
@media(max-width: 991px) {
    #top_gallery h2 {
        padding-bottom: 10px;
    }
    #top_gallery li {
        padding-left: 10px;
        padding-bottom: 5px;
    }
}


/*////////////////////
//////  footer ///////
////////////////////*/

footer {
    background-color: #F40000;
    min-height: 300px;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 20px left;

}
footer h1{
    text-align: center;
    position: relative;
    z-index: 1;
}
footer #main_footer {
    background-color: rgb(244,0,0, 0.7);
}

footer .credits > div{
    font-size: 1px;
    text-align: center;
}
footer .credits p:not(:nth-child(2)) {
    margin: 0 auto;
    text-align: center;
}
footer .credits p a{
    color: #F40000;
}
#main_footer img, #menu_contact img {
    max-width: 50px;
}
#main_footer h5, #menu_contact h5 {
    padding-top: 15px;
}
.gallery_bubble {
    opacity: 0;
    max-height: 0%;
    transition: all 0s;
}

@media(min-width: 992px) {
    .gallery_bubble { 
        position: fixed; 
        background: #59cfda; 
        border-radius: .4em;
        top: 200px;
        right: 100px;
        padding: 40px;
    } 
    .gallery_bubble:after { 
        content: ''; 
        position: absolute; 
        top: 0; 
        left: 50%; 
        width: 0; 
        height: 0; 
        border: 51px solid transparent; 
        border-bottom-color: #59cfda; 
        border-top: 0; 
        border-left: 0; 
        margin-left: -25.5px; 
        margin-top: -51px; 
    }
}

/*///////////////////////
//////  overwrite ///////
///////////////////////*/

@media(max-width: 991px) {
    .wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
        width: 100%!important;
    }
}
/* thing to remove */
#wpadminbar {
    display: none!important;
}

